<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="vendor.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <title>SSENKIT</title>
    <% if (locals.initialState) { %>
      <script>
        window.__INITIAL_STATE__ = <%- locals.initialState.replace(/</g, '\\u003c'); %>
      </script>
    <% } %>
  </head>
  
  <body>
    <div id="app"><%- (locals.body || '') %></div>
  </body>
  
  <script src="vendor.js"></script>
  <script src="style.js"></script>
  <!-- And if you use css themes you need require add their js files. -->
  <script src="app.js"></script>
</html>